<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Welcome to your Online Bank!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="select">
        <h1>Welcome to your Online Bank!</h1>
        <p>Choose one of the options:</p>
        <div class="button-container">
            <a href="/signup" class="button">Sign Up</a>
            <a href = "/delete" class= "button">Delete Account</a>
        </div>
    </div>
</body>
</html>